services:
  ecom-discovery-service:
    build: "./discovery-service"
    container_name: ecom-discovery-service
    ports:
      - '8761:8761'
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8761/actuator/health" ]
      interval: 10s
      retries: 3

  ecom-config-service:
    build: "./config-service"
    container_name: ecom-config-service
    ports:
      - '8085:8085'
    environment:
      - DISCOVERY_SERVICE_URL=http://ecom-discovery-service:8761/eureka/
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8085/actuator/health" ]
      interval: 10s
      retries: 3
    depends_on:
      ecom-discovery-service:
        condition: service_healthy

  ecom-customer-service:
    build: "./customer-service"
    container_name: ecom-customer-service
    ports:
      - '8081:8081'
    environment:
      - DISCOVERY_SERVICE_URL=http://ecom-discovery-service:8761/eureka/
      - CONFIG_SERVICE_URL=http://ecom-config-service:8085/
      - KEYCLOAK_URL=http://keycloak:8080
    depends_on:
      ecom-config-service:
        condition: service_healthy

  ecom-product-service:
    build: "./product-service"
    container_name: ecom-product-service
    ports:
      - '8082:8082'
    environment:
      - DISCOVERY_SERVICE_URL=http://ecom-discovery-service:8761/eureka/
      - CONFIG_SERVICE_URL=http://ecom-config-service:8085/
      - KEYCLOAK_URL=http://keycloak:8080
    depends_on:
      ecom-config-service:
        condition: service_healthy

  ecom-billing-service:
    build: "./billing-service"
    container_name: ecom-billing-service
    ports:
      - '8084:8084'
    environment:
      - DISCOVERY_SERVICE_URL=http://ecom-discovery-service:8761/eureka/
      - CONFIG_SERVICE_URL=http://ecom-config-service:8085/
      - KEYCLOAK_URL=http://keycloak:8080
    depends_on:
      ecom-config-service:
        condition: service_healthy

  ecom-gateway-service:
    build: "./gateway-service"
    container_name: ecom-gateway-service
    ports:
      - '8888:8888'
    environment:
      - DISCOVERY_SERVICE_URL=http://ecom-discovery-service:8761/eureka/
      - CONFIG_SERVICE_URL=http://ecom-config-service:8085/
    depends_on:
      ecom-discovery-service:
        condition: service_healthy

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:latest
    command: start-dev --import-realm
    ports:
      - "9999:8080"
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: change_me
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: supersecretpassword
      KC_HOSTNAME: http://keycloak:8080
      KC_HOSTNAME_STRICT: false
    volumes:
      - ./imports:/opt/keycloak/data/import/
    depends_on:
      - keycloak-db

  keycloak-db:
    image: postgres:15.6
    container_name: keycloak-db
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: supersecretpassword
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  keycloak-data:
  postgres-data:
